/* ADD YOUR CUSTOM CSS TO THIS FILE */


#Reputation h2 {font-family: 'UnifrakturCook', cursive;}
#Lover h2 {font-family: 'Satisfy', cursive;
}
#nineteen h2 {font-family: 'Permanent Marker', cursive;}
#Folklore h2 {font-family: 'IM Fell Double Pica', serif;}
#SpeakNow h2 {font-family: 'mina',serif}